h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
    
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}
body{
    margin:0px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    
}
#header-color{
    color:orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
}
.half-width img{
    width:85%;
    padding:5% 10%; 
    height: auto;
}
.half{
    padding-left: 5%;
}
#hire_button{
    background-image: linear-gradient(rgb(175, 60, 6),orange);
    font-size: 20px;
    text-decoration: none;
    padding:15px 40px;
    color:white;
    border-radius: 7px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

/*border-image: linear-gradient(salmon,tomato);
border-image-slice: 1;*/